@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}


<h1>NBA Teams</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nbaData[0].TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nbaData[0].Stadium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nbaData[0].Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nbaData[0].Played)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nbaData[0].Won)
            </th>
            <th id="lostColumnHeader">
                @Html.DisplayNameFor(model => model.nbaData[0].Lost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nbaData[0].PlayedHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nbaData[0].PlayedAway)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nbaData[0].BiggestWin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nbaData[0].BiggestLoss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nbaData[0].LastGameStadium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nbaData[0].LastGameDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nbaData[0].MVP)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.nbaData)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamConference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamDivision)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamArena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamLogo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamLogo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamLogo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamLogo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamLogo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamLogo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamLogo)
                </td>
            </tr>
        }
    </tbody>
</table>
                      
           
<canvas id="nbaChart" width="400" height="200"></canvas>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
